.burdermenu {
  position: fixed;
  top: 1.2rem;
  left: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-self: flex-start;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0 0 5px 1px var(--light);
}
.burdermenu:hover {
  cursor: pointer;
}
.burdermenu div {
  width: 100%;
  height: 2px;
  background: white;
}
