.wrapper {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  margin: 0.05rem;
  padding: 0.5rem;
}
.wrapper input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  height: 100%;
  border-bottom: 1px solid black;
}

.inputvalue {
  width: 100%;
  font-weight: 400;
  font-size: 1rem;
  margin: 0.1rem;
  margin-left: 1.4rem;
}
